#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Label_275 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Label_168 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Label_169 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}