#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Image_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 667px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 667px;
  background-color: #262425;
  background-image: none;
  opacity: 0.97;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_1 {
  position: absolute;
  top: 19px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: 微软雅黑,Arial;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_1 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_2 {
  position: absolute;
  top: 102px;
  left: 153px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 19.0pt;
  font-family: 微软雅黑,Arial;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_2 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 19.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 19.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_2 {
  position: absolute;
  top: 177px;
  left: 28px;
  width: 321px;
  height: 50px;
  background-color: #131313;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Label_275 {
  position: absolute;
  top: 189px;
  left: 58px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Label_275 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Label_275 span {
  color: #FFDB60;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Label_275 span#rtr-s-Label_275_0 {
  color: #FFDB60;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Input_1 {
  position: absolute;
  top: 183px;
  left: 94px;
  padding-left: 15px;
  width: 145px;
  height: 40px;
  background-color: #131313;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Input_1 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_3 {
  position: absolute;
  top: 194px;
  left: 261px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 微软雅黑,Arial;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_3 span {
  color: #21C0C0;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #21C0C0;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_3 {
  position: absolute;
  top: 241px;
  left: 27px;
  width: 321px;
  height: 50px;
  background-color: #131313;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Input_2 {
  position: absolute;
  top: 247px;
  left: 93px;
  padding-left: 15px;
  width: 145px;
  height: 40px;
  background-color: #131313;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Input_2 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_4 {
  position: absolute;
  top: 305px;
  left: 27px;
  width: 321px;
  height: 50px;
  background-color: #131313;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Input_3 {
  position: absolute;
  top: 311px;
  left: 93px;
  padding-left: 15px;
  width: 195px;
  height: 40px;
  background-color: #131313;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Input_3 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Label_168 {
  position: absolute;
  top: 254px;
  left: 58px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Label_168 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Label_168 span {
  color: #FFDB60;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Label_168 span#rtr-s-Label_168_0 {
  color: #FFDB60;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Label_169 {
  position: absolute;
  top: 321px;
  left: 59px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Label_169 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Label_169 span {
  color: #FFDB60;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Label_169 span#rtr-s-Label_169_0 {
  color: #FFDB60;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_4 {
  position: absolute;
  top: 369px;
  left: 48px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 微软雅黑,Arial;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_4 span {
  color: #D9D9D9;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #D9D9D9;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_4 span#rtr-s-Text_4_1 {
  color: #D9D9D9;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 10.0pt;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 371px;
  left: 29px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Panel_1 {
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  overflow: hidden;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Ellipse_1 .content {
  width: 14px;
  height: 14px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Ellipse_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  background-color: #282827;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #shapewrapper-s-Ellipse_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Panel_2 {
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Group_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Ellipse_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
  overflow: hidden;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Ellipse_2 .content {
  width: 16px;
  height: 16px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Ellipse_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  background-color: #2C2B2B;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #shapewrapper-s-Ellipse_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 10px;
  height: 10px;
  position: absolute;
  overflow: hidden;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Ellipse_3 .content {
  width: 10px;
  height: 10px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Ellipse_3 {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-color: #FF431D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #shapewrapper-s-Ellipse_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_5 {
  position: absolute;
  top: 423px;
  left: 93px;
  width: 188px;
  height: 46px;
  background-color: #FFDB60;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFDB60;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFDB60;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFDB60;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFDB60;
  border-radius: 24px 24px 24px 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 微软雅黑,Arial;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_5 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_5 {
  position: absolute;
  top: 434px;
  left: 169px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 微软雅黑,Arial;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Line_1 {
  position: absolute;
  top: 551px;
  left: 47px;
  width: 96px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #535354;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_6 {
  position: absolute;
  top: 542px;
  left: 151px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 微软雅黑,Arial;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_6 span {
  color: #979797;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #979797;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Line_2 {
  position: absolute;
  top: 551px;
  left: 226px;
  width: 96px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #535354;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Image_3 {
  position: absolute;
  top: 571px;
  left: 45px;
  width: 40px;
  height: 40px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #262629;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #262629;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #262629;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #262629;
  border-radius: 21px 21px 21px 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Image_4 {
  position: absolute;
  top: 572px;
  left: 163px;
  width: 40px;
  height: 40px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2B2B2D;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2B2B2D;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2B2B2D;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2B2B2D;
  border-radius: 21px 21px 21px 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Image_5 {
  position: absolute;
  top: 571px;
  left: 287px;
  width: 40px;
  height: 40px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2B2B2D;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2B2B2D;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2B2B2D;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2B2B2D;
  border-radius: 21px 21px 21px 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Hotspot_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 80px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}