#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Label_275 {
  -ms-transform: rotate(0.0deg);
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Label_168 {
  -ms-transform: rotate(0.0deg);
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Label_169 {
  -ms-transform: rotate(0.0deg);
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Ellipse_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Ellipse_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFDB60;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFDB60;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFDB60;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFDB60;
  border-radius: 24px 24px 24px 24px;
  -ms-transform: rotate(0.0deg);
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #535354;
  -ms-transform: rotate(0.0deg);
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #535354;
  -ms-transform: rotate(0.0deg);
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #535354;
  -ms-transform: rotate(0.0deg);
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #535354;
  -ms-transform: rotate(0.0deg);
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2bac2416-c436-4ecb-bee6-a18de5f30e44 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}