#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-311d40f4-d186-45f7-9f14-80b4a715d5be > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}