#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Label_124 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Label_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Label_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Label_125 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Label_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Label_126 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 #s-Label_116 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-3c29c9ba-2993-48dd-a81f-e8f3ad0db8e0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}