#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}