#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-40568849-296f-4495-9964-2a0d8ccd34dc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}