#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Label_182 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Label_292 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Label_293 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Label_183 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Label_294 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Label_295 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Label_296 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Label_184 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Label_297 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Label_298 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Label_299 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Label_185 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Label_300 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Label_301 {
  -ms-transform: rotate(0.0deg);
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d #s-Label_302 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-4822e8dc-a85f-4abb-9f8f-e6307bd1bb3d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}