#s-565eef89-874f-4253-9c25-061c19624eac #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Label_292 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Label_293 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Label_294 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #12C9D1;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #12C9D1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #12C9D1;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #12C9D1;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Label_133 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Label_134 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Label_135 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Label_136 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Label_137 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #12C9D3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #12C9D3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #12C9D3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #12C9D3;
  -ms-transform: rotate(0.0deg);
}
#s-565eef89-874f-4253-9c25-061c19624eac #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #12C9D3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #12C9D3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #12C9D3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #12C9D3;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-565eef89-874f-4253-9c25-061c19624eac > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}