#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Label_292 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Label_145 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Label_146 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Label_5 {
  -ms-transform: rotate(330.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFDB60;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFDB60;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFDB60;
  border-radius: 2px 0px 0px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #626054;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #626054;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #626054;
  border-radius: 0px 2px 2px 0px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-64dfdf8b-3e2e-4354-9b57-7fc463f71c8b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}