#s-66ac4633-f5ea-42e4-928a-131f0627b030 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66ac4633-f5ea-42e4-928a-131f0627b030 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97) ;
  filter: alpha(opacity=97) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66ac4633-f5ea-42e4-928a-131f0627b030 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66ac4633-f5ea-42e4-928a-131f0627b030 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66ac4633-f5ea-42e4-928a-131f0627b030 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66ac4633-f5ea-42e4-928a-131f0627b030 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66ac4633-f5ea-42e4-928a-131f0627b030 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66ac4633-f5ea-42e4-928a-131f0627b030 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66ac4633-f5ea-42e4-928a-131f0627b030 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-66ac4633-f5ea-42e4-928a-131f0627b030 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-66ac4633-f5ea-42e4-928a-131f0627b030 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}