#s-66ac4633-f5ea-42e4-928a-131f0627b030 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-66ac4633-f5ea-42e4-928a-131f0627b030 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=97);
  filter: alpha(opacity=97);
  -ms-transform: rotate(0.0deg);
}
#s-66ac4633-f5ea-42e4-928a-131f0627b030 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-66ac4633-f5ea-42e4-928a-131f0627b030 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-66ac4633-f5ea-42e4-928a-131f0627b030 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-66ac4633-f5ea-42e4-928a-131f0627b030 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-66ac4633-f5ea-42e4-928a-131f0627b030 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-66ac4633-f5ea-42e4-928a-131f0627b030 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFDB60;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFDB60;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFDB60;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFDB60;
  border-radius: 24px 24px 24px 24px;
  -ms-transform: rotate(0.0deg);
}
#s-66ac4633-f5ea-42e4-928a-131f0627b030 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-66ac4633-f5ea-42e4-928a-131f0627b030 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-66ac4633-f5ea-42e4-928a-131f0627b030 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}