#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Rectangle_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Rectangle_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Rectangle_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Rectangle_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Rectangle_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Rectangle_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Rectangle_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a #s-Rectangle_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-7ed9eafc-65f3-4157-8cff-0f6762bd740a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}