#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Label_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Label_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Label_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-80de4e9e-8523-4c02-b581-fdbfe394dd68 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}