#s-88e9215a-da40-4575-a88e-3e932374a9ee > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Dynamic_Panel_1 {
  position: absolute;
  top: 68px;
  left: 0px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Panel_1 {
  width: 375px;
  height: 599px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Group_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 1102px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Image_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 160px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Paragraph_4 {
  position: absolute;
  top: 1050px;
  left: 18px;
  width: 347px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 28px;
  font-size: 10.5pt;
  font-family: 微软雅黑,Arial;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Paragraph_4 span {
  color: #767676;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #767676;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Text_2 {
  position: absolute;
  top: 173px;
  left: 73px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 微软雅黑,Arial;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Text_3 {
  position: absolute;
  top: 205px;
  left: 116px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.5pt;
  font-family: 微软雅黑,Arial;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Text_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Text_3 span#rtr-s-Text_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Text_4 {
  position: absolute;
  top: 231px;
  left: 156px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 微软雅黑,Arial;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Text_4 span {
  color: #767676;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Text_4 span#rtr-s-Text_4_0 {
  color: #767676;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Paragraph_1 {
  position: absolute;
  top: 272px;
  left: 18px;
  width: 338px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 28px;
  font-size: 10.5pt;
  font-family: 微软雅黑,Arial;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Paragraph_1 span {
  color: #767676;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #767676;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Paragraph_1 span#rtr-s-Paragraph_1_1 {
  color: #767676;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Image_3 {
  position: absolute;
  top: 429px;
  left: 0px;
  width: 375px;
  height: 136px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Paragraph_2 {
  position: absolute;
  top: 571px;
  left: 18px;
  width: 345px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 25px;
  font-size: 10.5pt;
  font-family: 微软雅黑,Arial;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Paragraph_2 span {
  color: #767676;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #767676;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Paragraph_2 span#rtr-s-Paragraph_2_1 {
  color: #767676;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Image_4 {
  position: absolute;
  top: 651px;
  left: 0px;
  width: 375px;
  height: 136px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Paragraph_3 {
  position: absolute;
  top: 802px;
  left: 18px;
  width: 322px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 28px;
  font-size: 10.5pt;
  font-family: 微软雅黑,Arial;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Paragraph_3 span {
  color: #767676;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #767676;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Paragraph_3 span#rtr-s-Paragraph_3_1 {
  color: #767676;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Image_5 {
  position: absolute;
  top: 897px;
  left: 0px;
  width: 375px;
  height: 136px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Line_1 {
  position: absolute;
  top: 259px;
  left: 137px;
  width: 100px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Statusbar-black {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 20px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Rectangle_10 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Label_97 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Label_97 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Label_97 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Label_97 span#rtr-s-Label_97_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Label_98 {
  position: absolute;
  top: 4px;
  left: 299px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Label_98 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Label_98 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Label_98 span#rtr-s-Label_98_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Label_99 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Label_99 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Label_99 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Label_99 span#rtr-s-Label_99_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Group_24 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Ellipse_33 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Ellipse_33 .content {
  width: 6px;
  height: 6px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Ellipse_33 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #shapewrapper-s-Ellipse_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #shapewrapper-s-Ellipse_33 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #shapewrapper-s-Ellipse_33 span#rtr-s-Ellipse_33_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Ellipse_34 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Ellipse_34 .content {
  width: 6px;
  height: 6px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Ellipse_34 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #shapewrapper-s-Ellipse_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #shapewrapper-s-Ellipse_34 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #shapewrapper-s-Ellipse_34 span#rtr-s-Ellipse_34_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Ellipse_35 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Ellipse_35 .content {
  width: 6px;
  height: 6px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Ellipse_35 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #shapewrapper-s-Ellipse_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #shapewrapper-s-Ellipse_35 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #shapewrapper-s-Ellipse_35 span#rtr-s-Ellipse_35_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Ellipse_36 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Ellipse_36 .content {
  width: 6px;
  height: 6px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Ellipse_36 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #shapewrapper-s-Ellipse_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #shapewrapper-s-Ellipse_36 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #shapewrapper-s-Ellipse_36 span#rtr-s-Ellipse_36_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Ellipse_37 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Ellipse_37 .content {
  width: 6px;
  height: 6px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Ellipse_37 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #shapewrapper-s-Ellipse_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #shapewrapper-s-Ellipse_37 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #shapewrapper-s-Ellipse_37 span#rtr-s-Ellipse_37_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Label_106 {
  position: absolute;
  top: 1px;
  left: 302px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Label_106 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Label_106 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Label_106 span#rtr-s-Label_106_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Image_8 {
  position: absolute;
  top: 5px;
  left: 342px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Group_1 {
  position: absolute;
  top: 19px;
  left: 0px;
  width: 375px;
  height: 50px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 373px;
  height: 48px;
  background-color: #000000;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Text_1 {
  position: absolute;
  top: 15px;
  left: 139px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 微软雅黑,Arial;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Label_291 {
  position: absolute;
  top: 13px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Label_291 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Label_291 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee #s-Label_291 span#rtr-s-Label_291_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-88e9215a-da40-4575-a88e-3e932374a9ee > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}