#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Statusbar-black {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 20px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_10 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Label_97 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Label_97 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Label_97 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Label_97 span#rtr-s-Label_97_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Label_98 {
  position: absolute;
  top: 4px;
  left: 299px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Label_98 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Label_98 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Label_98 span#rtr-s-Label_98_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Label_99 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Label_99 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Label_99 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Label_99 span#rtr-s-Label_99_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Group_24 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Ellipse_33 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Ellipse_33 .content {
  width: 6px;
  height: 6px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Ellipse_33 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #shapewrapper-s-Ellipse_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #shapewrapper-s-Ellipse_33 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #shapewrapper-s-Ellipse_33 span#rtr-s-Ellipse_33_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Ellipse_34 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Ellipse_34 .content {
  width: 6px;
  height: 6px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Ellipse_34 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #shapewrapper-s-Ellipse_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #shapewrapper-s-Ellipse_34 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #shapewrapper-s-Ellipse_34 span#rtr-s-Ellipse_34_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Ellipse_35 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Ellipse_35 .content {
  width: 6px;
  height: 6px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Ellipse_35 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #shapewrapper-s-Ellipse_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #shapewrapper-s-Ellipse_35 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #shapewrapper-s-Ellipse_35 span#rtr-s-Ellipse_35_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Ellipse_36 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Ellipse_36 .content {
  width: 6px;
  height: 6px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Ellipse_36 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #shapewrapper-s-Ellipse_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #shapewrapper-s-Ellipse_36 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #shapewrapper-s-Ellipse_36 span#rtr-s-Ellipse_36_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Ellipse_37 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Ellipse_37 .content {
  width: 6px;
  height: 6px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Ellipse_37 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #shapewrapper-s-Ellipse_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #shapewrapper-s-Ellipse_37 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #shapewrapper-s-Ellipse_37 span#rtr-s-Ellipse_37_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Label_106 {
  position: absolute;
  top: 1px;
  left: 302px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Label_106 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Label_106 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Label_106 span#rtr-s-Label_106_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Image_8 {
  position: absolute;
  top: 5px;
  left: 342px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Group_1 {
  position: absolute;
  top: 19px;
  left: 0px;
  width: 375px;
  height: 50px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 373px;
  height: 48px;
  background-color: #000000;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_1 {
  position: absolute;
  top: 14px;
  left: 155px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 微软雅黑,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_1 span#rtr-s-Text_1_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Label_291 {
  position: absolute;
  top: 13px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Label_291 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Label_291 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Label_291 span#rtr-s-Label_291_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Dynamic_Panel_1 {
  position: absolute;
  top: 69px;
  left: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Panel_1 {
  width: 375px;
  height: 598px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Group_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 708px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Group_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 234px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 234px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_2 {
  position: absolute;
  top: 21px;
  left: 14px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 微软雅黑,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Image_2 {
  position: absolute;
  top: 73px;
  left: 21px;
  width: 108px;
  height: 96px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Paragraph_1 {
  position: absolute;
  top: 73px;
  left: 148px;
  width: 139px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 微软雅黑,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Paragraph_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_3 {
  position: absolute;
  top: 148px;
  left: 148px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 微软雅黑,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_3 span#rtr-s-Text_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_4 {
  position: absolute;
  top: 73px;
  left: 330px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 微软雅黑,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_4 span {
  color: #FF6F29;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_4 span#rtr-s-Text_4_0 {
  color: #FF6F29;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_5 {
  position: absolute;
  top: 99px;
  left: 350px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 微软雅黑,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_5 span {
  color: #909090;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_5 span#rtr-s-Text_5_0 {
  color: #909090;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_2 {
  position: absolute;
  top: 192px;
  left: 199px;
  width: 70px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #333333;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #333333;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #333333;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #333333;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 微软雅黑,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_3 {
  position: absolute;
  top: 192px;
  left: 286px;
  width: 70px;
  height: 26px;
  background-color: #000000;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #333333;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #333333;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #333333;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #333333;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 微软雅黑,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Line_1 {
  position: absolute;
  top: 58px;
  left: 10px;
  width: 354px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Group_4 {
  position: absolute;
  top: 240px;
  left: 0px;
  width: 375px;
  height: 234px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 234px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_5 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_6 {
  position: absolute;
  top: 22px;
  left: 21px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 微软雅黑,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_6 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_6 span#rtr-s-Text_6_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Image_3 {
  position: absolute;
  top: 73px;
  left: 21px;
  width: 108px;
  height: 96px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Paragraph_2 {
  position: absolute;
  top: 73px;
  left: 148px;
  width: 139px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 微软雅黑,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Paragraph_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Paragraph_2 span#rtr-s-Paragraph_2_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_7 {
  position: absolute;
  top: 148px;
  left: 148px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 微软雅黑,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_7 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_7 span#rtr-s-Text_7_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_8 {
  position: absolute;
  top: 74px;
  left: 340px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 微软雅黑,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_8 span {
  color: #FF6F29;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_8 span#rtr-s-Text_8_0 {
  color: #FF6F29;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_9 {
  position: absolute;
  top: 99px;
  left: 350px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 微软雅黑,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_9 span {
  color: #909090;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_9 span#rtr-s-Text_9_0 {
  color: #909090;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_7 {
  position: absolute;
  top: 192px;
  left: 289px;
  width: 70px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #333333;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #333333;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #333333;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #333333;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 微软雅黑,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Line_2 {
  position: absolute;
  top: 54px;
  left: 23px;
  width: 331px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Group_5 {
  position: absolute;
  top: 474px;
  left: 0px;
  width: 375px;
  height: 234px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 234px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_6 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Image_4 {
  position: absolute;
  top: 15px;
  left: 21px;
  width: 108px;
  height: 96px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Paragraph_3 {
  position: absolute;
  top: 15px;
  left: 148px;
  width: 139px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 19px;
  font-size: 10.0pt;
  font-family: 微软雅黑,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Paragraph_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Paragraph_3 span#rtr-s-Paragraph_3_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_11 {
  position: absolute;
  top: 90px;
  left: 148px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 微软雅黑,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_11 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_11 span#rtr-s-Text_11_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_12 {
  position: absolute;
  top: 15px;
  left: 332px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 微软雅黑,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_12 span {
  color: #FF6F29;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_12 span#rtr-s-Text_12_0 {
  color: #FF6F29;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_13 {
  position: absolute;
  top: 41px;
  left: 350px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 微软雅黑,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_13 span {
  color: #909090;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Text_13 span#rtr-s-Text_13_0 {
  color: #909090;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_8 {
  position: absolute;
  top: 134px;
  left: 289px;
  width: 70px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #333333;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #333333;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #333333;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #333333;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 微软雅黑,Arial;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a #s-Line_3 {
  position: absolute;
  top: 474px;
  left: 20px;
  width: 342px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-96d29ff7-a47a-4e65-97f5-f62e1b89564a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}