#s-9ed65c3e-7249-4e3b-905e-f8a1ccfaf53d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed65c3e-7249-4e3b-905e-f8a1ccfaf53d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed65c3e-7249-4e3b-905e-f8a1ccfaf53d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed65c3e-7249-4e3b-905e-f8a1ccfaf53d #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed65c3e-7249-4e3b-905e-f8a1ccfaf53d #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed65c3e-7249-4e3b-905e-f8a1ccfaf53d #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed65c3e-7249-4e3b-905e-f8a1ccfaf53d #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed65c3e-7249-4e3b-905e-f8a1ccfaf53d #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed65c3e-7249-4e3b-905e-f8a1ccfaf53d #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed65c3e-7249-4e3b-905e-f8a1ccfaf53d #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed65c3e-7249-4e3b-905e-f8a1ccfaf53d #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed65c3e-7249-4e3b-905e-f8a1ccfaf53d #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed65c3e-7249-4e3b-905e-f8a1ccfaf53d #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed65c3e-7249-4e3b-905e-f8a1ccfaf53d #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed65c3e-7249-4e3b-905e-f8a1ccfaf53d #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed65c3e-7249-4e3b-905e-f8a1ccfaf53d #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed65c3e-7249-4e3b-905e-f8a1ccfaf53d #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed65c3e-7249-4e3b-905e-f8a1ccfaf53d #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed65c3e-7249-4e3b-905e-f8a1ccfaf53d #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed65c3e-7249-4e3b-905e-f8a1ccfaf53d #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed65c3e-7249-4e3b-905e-f8a1ccfaf53d #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed65c3e-7249-4e3b-905e-f8a1ccfaf53d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed65c3e-7249-4e3b-905e-f8a1ccfaf53d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ed65c3e-7249-4e3b-905e-f8a1ccfaf53d #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9ed65c3e-7249-4e3b-905e-f8a1ccfaf53d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}