#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Statusbar-black {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 20px;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Rectangle_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 19px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Rectangle_10 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Label_97 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Label_97 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Label_97 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Label_97 span#rtr-s-Label_97_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Label_98 {
  position: absolute;
  top: 4px;
  left: 299px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Label_98 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Label_98 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Label_98 span#rtr-s-Label_98_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Label_99 {
  position: absolute;
  top: 0px;
  left: 149px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Label_99 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Label_99 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Label_99 span#rtr-s-Label_99_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Group_24 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Ellipse_33 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Ellipse_33 .content {
  width: 6px;
  height: 6px;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Ellipse_33 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #shapewrapper-s-Ellipse_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #shapewrapper-s-Ellipse_33 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #shapewrapper-s-Ellipse_33 span#rtr-s-Ellipse_33_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Ellipse_34 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Ellipse_34 .content {
  width: 6px;
  height: 6px;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Ellipse_34 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #shapewrapper-s-Ellipse_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #shapewrapper-s-Ellipse_34 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #shapewrapper-s-Ellipse_34 span#rtr-s-Ellipse_34_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Ellipse_35 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Ellipse_35 .content {
  width: 6px;
  height: 6px;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Ellipse_35 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #shapewrapper-s-Ellipse_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #shapewrapper-s-Ellipse_35 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #shapewrapper-s-Ellipse_35 span#rtr-s-Ellipse_35_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Ellipse_36 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Ellipse_36 .content {
  width: 6px;
  height: 6px;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Ellipse_36 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #shapewrapper-s-Ellipse_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #shapewrapper-s-Ellipse_36 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #shapewrapper-s-Ellipse_36 span#rtr-s-Ellipse_36_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Ellipse_37 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Ellipse_37 .content {
  width: 6px;
  height: 6px;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Ellipse_37 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #shapewrapper-s-Ellipse_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #shapewrapper-s-Ellipse_37 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #shapewrapper-s-Ellipse_37 span#rtr-s-Ellipse_37_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Label_106 {
  position: absolute;
  top: 1px;
  left: 302px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Label_106 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Label_106 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Label_106 span#rtr-s-Label_106_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Image_8 {
  position: absolute;
  top: 5px;
  left: 342px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Group_1 {
  position: absolute;
  top: 19px;
  left: 0px;
  width: 375px;
  height: 50px;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 373px;
  height: 48px;
  background-color: #000000;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Text_1 {
  position: absolute;
  top: 14px;
  left: 164px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 微软雅黑,Arial;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Text_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Label_291 {
  position: absolute;
  top: 13px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Label_291 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Label_291 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Label_291 span#rtr-s-Label_291_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 68px;
  left: 0px;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Panel_1 {
  width: 375px;
  height: 599px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Image_2 {
  position: absolute;
  top: 363px;
  left: 0px;
  width: 375px;
  height: 624px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 364px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Hotspot_1 {
  position: absolute;
  top: 19px;
  left: 0px;
  width: 60px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Group_2 {
  position: absolute;
  top: 617px;
  left: 0px;
  width: 375px;
  height: 50px;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 50px;
  background-color: #EFEFEF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Label_119 {
  position: absolute;
  top: 11px;
  left: 15px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Label_119 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Label_119 span {
  color: #21A8B8;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Label_119 span#rtr-s-Label_119_0 {
  color: #21A8B8;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Label_145 {
  position: absolute;
  top: 10px;
  left: 335px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Label_145 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Label_145 span {
  color: #21A8B8;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Label_145 span#rtr-s-Label_145_0 {
  color: #21A8B8;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Input_1 {
  position: absolute;
  top: 5px;
  left: 69px;
  padding-left: 25px;
  width: 200px;
  height: 18px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 20px 20px 20px 20px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  box-shadow: none;
  text-shadow: none;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 #s-Input_1 input {
  color: #C2C2C2;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ab5155d1-a71d-4b67-8b3b-66ef6d5ad627 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}