#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 667px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 667px;
  background-color: #262626;
  background-image: none;
  opacity: 0.97;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Text_1 {
  position: absolute;
  top: 20px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: 微软雅黑,Arial;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Text_1 span {
  color: #909090;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Text_1 span#rtr-s-Text_1_0 {
  color: #909090;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Text_2 {
  position: absolute;
  top: 126px;
  left: 150px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: 微软雅黑,Arial;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Text_2 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Text_2 span#rtr-s-Text_2_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Rectangle_2 {
  position: absolute;
  top: 227px;
  left: 28px;
  width: 321px;
  height: 50px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Rectangle_2 span {
  color: #131313;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #131313;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Label_275 {
  position: absolute;
  top: 238px;
  left: 58px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Label_275 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Label_275 span {
  color: #FFDB60;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Label_275 span#rtr-s-Label_275_0 {
  color: #FFDB60;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Input_1 {
  position: absolute;
  top: 232px;
  left: 94px;
  padding-left: 15px;
  width: 165px;
  height: 40px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Input_1 input {
  color: #909090;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Rectangle_3 {
  position: absolute;
  top: 291px;
  left: 28px;
  width: 321px;
  height: 50px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Rectangle_3 span {
  color: #131313;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #131313;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Input_2 {
  position: absolute;
  top: 296px;
  left: 94px;
  padding-left: 15px;
  width: 165px;
  height: 40px;
  background-color: #000000;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Input_2 input {
  color: #909090;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Label_3 {
  position: absolute;
  top: 302px;
  left: 58px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: materialdesignjim-Regular,Arial;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Label_3 span {
  color: #FFDB60;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Label_3 span#rtr-s-Label_3_0 {
  color: #FFDB60;
  text-align: left;
  text-decoration: none;
  font-family: materialdesignjim-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Text_3 {
  position: absolute;
  top: 473px;
  left: 164px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 微软雅黑,Arial;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Text_3 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Text_3 span#rtr-s-Text_3_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Text_4 {
  position: absolute;
  top: 353px;
  left: 323px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 微软雅黑,Arial;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Text_4 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Text_4 span#rtr-s-Text_4_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Group_2 {
  position: absolute;
  top: 408px;
  left: 94px;
  width: 190px;
  height: 48px;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Rectangle_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 188px;
  height: 46px;
  background-color: #FFDB60;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFDB60;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFDB60;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFDB60;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFDB60;
  border-radius: 24px 24px 24px 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 微软雅黑,Arial;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Rectangle_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Text_5 {
  position: absolute;
  top: 11px;
  left: 76px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 微软雅黑,Arial;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Line_1 {
  position: absolute;
  top: 551px;
  left: 47px;
  width: 96px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #535354;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Text_6 {
  position: absolute;
  top: 542px;
  left: 151px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 微软雅黑,Arial;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Text_6 span {
  color: #979797;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Text_6 span#rtr-s-Text_6_0 {
  color: #979797;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Line_2 {
  position: absolute;
  top: 551px;
  left: 226px;
  width: 96px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #535354;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Image_3 {
  position: absolute;
  top: 571px;
  left: 45px;
  width: 40px;
  height: 40px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #262629;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #262629;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #262629;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #262629;
  border-radius: 21px 21px 21px 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Image_4 {
  position: absolute;
  top: 572px;
  left: 163px;
  width: 40px;
  height: 40px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2B2B2D;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2B2B2D;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2B2B2D;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2B2B2D;
  border-radius: 21px 21px 21px 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Image_5 {
  position: absolute;
  top: 571px;
  left: 287px;
  width: 40px;
  height: 40px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2B2B2D;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2B2B2D;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2B2B2D;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2B2B2D;
  border-radius: 21px 21px 21px 21px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Text_7 {
  position: absolute;
  top: 353px;
  left: 52px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 微软雅黑,Arial;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Text_7 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Text_7 span#rtr-s-Text_7_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Dynamic_Panel_1 {
  position: absolute;
  top: 353px;
  left: 32px;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Panel_1 {
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  overflow: hidden;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Ellipse_1 .content {
  width: 14px;
  height: 14px;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Ellipse_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  background-color: #282827;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #shapewrapper-s-Ellipse_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Panel_2 {
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Group_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Ellipse_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
  overflow: hidden;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Ellipse_2 .content {
  width: 16px;
  height: 16px;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Ellipse_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  background-color: #2C2B2B;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #shapewrapper-s-Ellipse_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 10px;
  height: 10px;
  position: absolute;
  overflow: hidden;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Ellipse_3 .content {
  width: 10px;
  height: 10px;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Ellipse_3 {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-color: #FF431D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #shapewrapper-s-Ellipse_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Hotspot_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 80px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c #s-Hotspot_2 {
  position: absolute;
  top: 464px;
  left: 164px;
  width: 50px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-cbbb7e13-3329-49b1-a3d1-0c05f172d04c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}