#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Label_292 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}