#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Label_292 {
  -ms-transform: rotate(0.0deg);
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d30c6487-3569-4bd3-9413-761ea1f2570a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}