#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Label_267 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFF215;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFF215;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFF215;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFF215;
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFF21A;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFF21A;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFF21A;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFF21A;
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  -ms-transform: rotate(90.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  -ms-transform: rotate(90.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  -ms-transform: rotate(90.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  -ms-transform: rotate(90.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #BABABA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #BABABA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #BABABA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #BABABA;
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  -ms-transform: rotate(90.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  -ms-transform: rotate(90.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #BABABA;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #BABABA;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #BABABA;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #BABABA;
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  -ms-transform: rotate(90.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  -ms-transform: rotate(90.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  -ms-transform: rotate(90.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  -ms-transform: rotate(90.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  -ms-transform: rotate(90.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  -ms-transform: rotate(90.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  -ms-transform: rotate(90.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  -ms-transform: rotate(90.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  -ms-transform: rotate(90.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  -ms-transform: rotate(90.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  -ms-transform: rotate(90.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  -ms-transform: rotate(90.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  -ms-transform: rotate(90.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  -ms-transform: rotate(90.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  -ms-transform: rotate(90.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #B2B2B2;
  -ms-transform: rotate(90.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D7D7D7;
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D7D7D7;
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D7D7D7;
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D7D7D7;
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D7D7D7;
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D7D7D7;
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D7D7D7;
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D7D7D7;
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D7D7D7;
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D7D7D7;
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D7D7D7;
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D7D7D7;
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D7D7D7;
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D7D7D7;
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D7D7D7;
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D7D7D7;
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D7D7D7;
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D7D7D7;
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D7D7D7;
  -ms-transform: rotate(0.0deg);
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D7D7D7;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}