#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Label_267 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_6 {
  rotation: 90.0;
  margin-left: 53px;
  margin-top: -55px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_1 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -10px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_2 {
  rotation: 90.0;
  margin-left: 50px;
  margin-top: -52px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_3 {
  rotation: 90.0;
  margin-left: 53px;
  margin-top: -55px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_4 {
  rotation: 90.0;
  margin-left: 53px;
  margin-top: -55px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_5 {
  rotation: 90.0;
  margin-left: 56px;
  margin-top: -58px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_17 {
  rotation: 90.0;
  margin-left: 56px;
  margin-top: -58px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_18 {
  rotation: 90.0;
  margin-left: 56px;
  margin-top: -58px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_19 {
  rotation: 90.0;
  margin-left: 56px;
  margin-top: -58px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_20 {
  rotation: 90.0;
  margin-left: 56px;
  margin-top: -58px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_21 {
  rotation: 90.0;
  margin-left: 56px;
  margin-top: -58px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d498b427-fb9a-4b2f-8e0f-2573c30b3392 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}