#s-d6ae91ce-b82f-4eb9-b433-848b1ddd4cf3 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6ae91ce-b82f-4eb9-b433-848b1ddd4cf3 #s-Label_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6ae91ce-b82f-4eb9-b433-848b1ddd4cf3 #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6ae91ce-b82f-4eb9-b433-848b1ddd4cf3 #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6ae91ce-b82f-4eb9-b433-848b1ddd4cf3 #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6ae91ce-b82f-4eb9-b433-848b1ddd4cf3 #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6ae91ce-b82f-4eb9-b433-848b1ddd4cf3 #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6ae91ce-b82f-4eb9-b433-848b1ddd4cf3 #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6ae91ce-b82f-4eb9-b433-848b1ddd4cf3 #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6ae91ce-b82f-4eb9-b433-848b1ddd4cf3 #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6ae91ce-b82f-4eb9-b433-848b1ddd4cf3 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6ae91ce-b82f-4eb9-b433-848b1ddd4cf3 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6ae91ce-b82f-4eb9-b433-848b1ddd4cf3 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6ae91ce-b82f-4eb9-b433-848b1ddd4cf3 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6ae91ce-b82f-4eb9-b433-848b1ddd4cf3 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6ae91ce-b82f-4eb9-b433-848b1ddd4cf3 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6ae91ce-b82f-4eb9-b433-848b1ddd4cf3 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d6ae91ce-b82f-4eb9-b433-848b1ddd4cf3 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d6ae91ce-b82f-4eb9-b433-848b1ddd4cf3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}