#s-e0b458dc-714c-4433-bf47-f4390b53c58e #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-e0b458dc-714c-4433-bf47-f4390b53c58e #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-e0b458dc-714c-4433-bf47-f4390b53c58e #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-e0b458dc-714c-4433-bf47-f4390b53c58e #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-e0b458dc-714c-4433-bf47-f4390b53c58e #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-e0b458dc-714c-4433-bf47-f4390b53c58e #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-e0b458dc-714c-4433-bf47-f4390b53c58e #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-e0b458dc-714c-4433-bf47-f4390b53c58e #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-e0b458dc-714c-4433-bf47-f4390b53c58e #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-e0b458dc-714c-4433-bf47-f4390b53c58e #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-e0b458dc-714c-4433-bf47-f4390b53c58e #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e0b458dc-714c-4433-bf47-f4390b53c58e #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-e0b458dc-714c-4433-bf47-f4390b53c58e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e0b458dc-714c-4433-bf47-f4390b53c58e #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-e0b458dc-714c-4433-bf47-f4390b53c58e #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e0b458dc-714c-4433-bf47-f4390b53c58e #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e0b458dc-714c-4433-bf47-f4390b53c58e #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e0b458dc-714c-4433-bf47-f4390b53c58e #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e0b458dc-714c-4433-bf47-f4390b53c58e #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e0b458dc-714c-4433-bf47-f4390b53c58e #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e0b458dc-714c-4433-bf47-f4390b53c58e #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e0b458dc-714c-4433-bf47-f4390b53c58e #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e0b458dc-714c-4433-bf47-f4390b53c58e #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e0b458dc-714c-4433-bf47-f4390b53c58e #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e0b458dc-714c-4433-bf47-f4390b53c58e #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e0b458dc-714c-4433-bf47-f4390b53c58e #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e0b458dc-714c-4433-bf47-f4390b53c58e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}