#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Label_71 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Label_292 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 13px 13px 13px 13px;
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 13px 13px 13px 13px;
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 13px 13px 13px 13px;
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 13px 13px 13px 13px;
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e20f31f1-2d36-453d-a1cc-0a27ddad64b1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}