#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f #s-view_teacher .s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f #s-view_teacher .s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f #s-view_teacher .s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-eb4781ce-37f0-4cd9-a8eb-550299490e9f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}