#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #ECECEC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #ECECEC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ECECEC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #ECECEC;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #13C6D4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #13C6D4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #13C6D4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #13C6D4;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Label_196 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Label_292 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Label_293 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Label_294 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f0fd1c27-ba2b-4f86-8ab9-c422f6ba09db > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}